.visual-container{
    width: 100vw;
    height: 70vh;
    background-color: black;
    align-content: center;
    justify-content: center;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(9, 10px);
    grid-template-rows: repeat(3, 20px);
}

