.instrument-container{
    /* width: 100vw; */
    height: 30vh;
    background-color: black;
    align-content: center;
    justify-content: center;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(10, 3fr);
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    /* border: 2px solid chartreuse; */
}

