.visual-container{
    width: 100vw;
    height: 70vh;
    background-color: black;
    align-content: center;
    justify-content: center;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(10, 3fr);
    /* grid-template-rows: repeat(3, 20px); */
    overflow: hidden
}


StyledPad{
    display: inline-block;
    margin-left: 2px;
}