footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.block-colour{
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);;
    padding: 3px;
}