.about-section{
    height: 100%;
    margin: 0;
    justify-content: center;
    padding: 5vh 10vw;
}

h3 {
    margin: 0px;
    line-height: 30pt;
    font-size: 24pt;
    padding: 10px;
    background: linear-gradient(to right, transparent, orange , yellow, green, cyan, blue, violet, transparent);
}

h4 {
    margin: 0px;
    line-height: 30pt;
    font-size: 18pt;
    
}

p {
    margin: 0px;
    line-height: 20pt;
    font-size: 12pt;
}

blockquote{
    font-style: italic;
}