nav{
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;
    margin: 0px;
    
}

.logo{
    display: block;
    padding: 3vh;
    border: 2px dashed white;
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
    padding: 1vw;
    color: white;
    font-weight: 500;
    margin: 0, 10px;
    justify-content: flex-end;
}

li:hover{
    background-color: yellowgreen;
}