nav{
    width: 100vw;
    height: 12vh;
    background-color: black;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    
}

.logo{
    display: block;
    height: 22vh;
    padding: 20px;

}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
    padding: 1vw;
    color: white;
    font-weight: 500;
    margin: 0, 10px;
    justify-content: flex-end;
}

a:hover {
    cursor: pointer;
}